# cd into this directory
# install dependencies using -r switch
# pip install -r requirements.txt
--index-url https://pypi.python.org/simple/
-e .
numpy==1.11.0
pandas==0.18.1
statsmodels==0.6.1
validictory==1.0.1
